{% if artworks %}
  <div class="row">
    {% for artwork in artworks %}
      <div class="item col-sm-6 col-md-4 col-lg-4 mb-4">
          <a href="/art/{{ artwork.authors }}/{{ artwork.slug }}" class="item-wrap">
              <img class="img-fluid" src="{{ artwork.url }}">
              <div>
                  <h4 class="text-uppercase font-weight-bold text-dark mb-0 mt-1">{{ artwork.title }}</h4>
                  <span class="text-dark">By: {{ artwork.authors }}</span>
                  <br>
              </div>
          </a>
      </div>
    {% endfor %}
  </div>
{% else %}
    <article>
        <h1>No artwork right now</h1>
        <p>Please come back later!</p>
    </article>
{% endif %}
