body {
    margin: 0;
    height: 100vh;
}

main {
    width: 80vw;
    height: 100vh;

    margin: auto;
    margin-top: 100px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 450px;
    height: 500px;
    display: inline-block;

    margin: 20px;
}

.card .link {
    color: unset
}

.card header {
    padding: 0;
    height: 300px;

}

.card header img {
    width: 450px;
    height: 299px;

    margin: 0;
}