{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<!-- Jumbotron -->


<div class="hero">
    <div class="text-start">

        <div class="row d-flex align-items-center">
            <div class="col-lg-6 p-5 d-flex justify-content-center">
                <div>
                    <h1 class="h1">Start Learning With</h1>
                    <p class="lead">The World's Friendliest Photoshop Community</p>

                    <a class="btn btn-primary rounded-pill btn-lg w-50" href="/register" role="button">JOIN FOR FREE</a>
                </div>

            </div>

            <div class="col-lg-6 align-items-center d-flex">
                <div class=""><img src="{% static 'imgs/ph_8.png' %}" class="img-fluid"></div>
            </div>

        </div>

    </div>
</div>


<!-- Popular categories -->

<section class="section popular-categories">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mt-4 mb-5">
                <h2 class="text-center">Popular Courses</h2>
            </div>
        </div>
        <div id="popular-categories" class="row no-gutter">
              {% include 'courses/course_list.html' %}
        </div
    </div>
</section>



<!-- Discord Invite -->

<div class="discord full-bleed">
    <div class="container text-start">

        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <h1 class="h1">Join Our Discord</h1>
                <p class="lead">Make friends, help others, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem incidunt culpa exercitationem iure architecto sunt vitae quasi cum, </p>

                <a class="btn btn-primary rounded-pill btn-lg w-50" href="" role="button">JOIN SERVER</a>
                </span>
            </div>

            <div class="col-lg-6 align-items-center d-flex">
                <div class=""><img src="{% static 'imgs/ph_6.png' %}" class="img-fluid"></div>
            </div>

        </div>

    </div>
</div>

<!-- Tutorials -->

<section class="section recent-lessons">
    <div class="container">
        <!-- <div class="row align-items-center"> -->
            <div class="col-12 mt-4 mb-5">
                <h2 class="text-center">Recent Blog Posts</h2>
            </div>
            <!--
            <div class="col-12 text-center text-uppercase mb-4">
                <div id="filters" class="filters">
                    <a href="#" data-filter="*" class="active">All</a>
                    <a href="#" data-filter=".theory">Theory of design</a>
                    <a href="#" data-filter=".retouching">Retouching</a>
                    <a href="#" data-filter=".fundamentals">Fundamentals</a>
                    <a href="#" data-filter=".instagram">Saw this on Insta</a>
                    <a href="#" data-filter=".compositing">Compositing</a>
                </div>
            </div>
        </div>-->
        <div id="recent-lessons" class="row no-gutter">
            {% include 'blog/article_list.html' %}
        </div>
    </div>
</section>
{% endblock content %}
