{% extends 'base/index.html' %}

{% block content %}   
    {% if course_list %}
        {% for course in course_list %}
            <article class="card"><a class="link" href="courses/{{course.slug}}">
                <header>
                    <img src="{{course.image}}" alt="Course thumbnail">
                </header>
                <h1>{{course.name}}</h1>
                <p>{{course.description}}</p>
            </a></article>
        {% endfor %}
    {% else %}
        <article>
            <h1>No courses right now</h1>
            <p>Please come back later!</p>
        </article>
    {% endif %}
{% endblock content %}