<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <h1 class="brand">New Photoshop Park</h1>

        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">-</label>

        <div class="menu">
            <a class="button" href="courses/">Courses</a>
            <a class="pseudo button" href="about/">About</a>
            <a class="pseudo button" href="contact/">Contact Us</a>
        </div>
    </nav>
    <main>
        {% if course_list %}
            {% for course in course_list %}
                <article class="card">
                    <header>
                        <img src="{{course.image}}" alt="Course thumbnail">
                    </header>
                    <h1>{{course.name}}</h1>
                    <p>{{course.description}}</p>
                </article>
            {% endfor %}
        {% else %}
            <article class="card">
                    <h1>No courses right now</h1>
                    <p>Come back later!</p>
            </article>
        {% endif %}
    </main>
</body>
</html>