[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-tinymce = "*"
cloudinary = "*"
django-crispy-forms = "*"
django-recaptcha = "*"

[dev-packages]

[requires]
python_version = "3.10"
