<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'favicon.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/skeleton.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">

    {% block head %}
    {% endblock %}

    <title>Photoshop Park {% block title %} {% endblock %}</title>
</head>
<body>
    <hr class="gradient" id="topbar">
    <nav id="navbar">
        
        <a href="/" class="link brand"><img src="{% static 'favicon.webp' %}" alt="Photoshop Park Logo"><h1>Photoshop Park</h1></a>

        <input type="checkbox" id="hamburger">
        <label for="hamburger">&#9776;</label>
        
        <ul class="menu">
            {% if user.is_authenticated %}
                <li><a href="/profile">Profile</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}

            <li><a href="/courses">Courses</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            
            {% if user.is_staff %}
                <li><a href="/admin">Admin</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% if messages %}
            {% for message in messages %}
                <p class="messages {{ message.tags }}">{{ message }}</p> <!-- Custom messages depending on message tag for future -->
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'main.js' %}"></script>
</body>