<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'favicon.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{% static '/style.css' %}">

    {% block head %}
    {% endblock %}

    <title>{% block title %} Photoshop Park {% endblock %}</title>
</head>
<body>
    <nav>
        
        <a href="/" class="link brand"><img src="{% static 'favicon.webp' %}" alt="Photoshop Park Logo"><h1>Photoshop Park</h1></a>

        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">-</label>

        <div class="menu">
            <a class="button" href="/courses">Courses</a>
            <a class="pseudo button" href="/blog">Blog</a>
            <a class="pseudo button" href="/about">About</a>
            <a class="pseudo button" href="/contact">Contact Us</a>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>