body {    
    margin-bottom: 5vh;

    transition: none;
}

main {
    width: 80vw;
    height: 100vh;

    margin: auto;
    margin-top: 100px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 450px;
    height: 200px;
    display: inline-block;

    margin: 20px;
}

.card .article_link {
    color: unset
}