{% extends 'base/base.html' %}

{% block title %} {{article.title}} {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <!-- header-->
            <header class="mb-4">
                <h1 class="h1 mb-1">{{article.title}}</h1>
                <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by {{article.authors}}</div>
                <div class="text-muted fst-italic mb-2"><a href="/">Main page</a> &#9658; <a href="/blog">Blog</a>
                    &#9658; <a href="#">{{ article.title }}</a></div>
                <!-- replace src with url -->
                <figure class="mb-4"><img class="img-fluid"
                        src="{{ article.image }}"
                        alt="..." />
                </figure>
            </header>
            <article class="col-lg-8 mx-auto">
                <!-- content -->
                <!-- i simulate longer format with repeated calls, but this should be one thing when launched -->
                <section class="mb-5">
                    {{article.content | safe}}
                </section>
        </div>


    </div>
</div>

{% endblock %}
