{% load static %}
{% for category in categories %}
    {% with category.articles.all as article_list %}
        <div class="item col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/blog/categories/{{ category.title }}" class="item-wrap">
                <img class="img-fluid" src="{% static 'imgs/ph_3.png' %}">
                <div>
                    <h4 class="text-uppercase font-weight-bold text-dark mb-0 mt-1">{{ category.title }}</h4>
                    <span class="text-dark">10 Lessons</span>
                </div>
            </a>
        </div>
    {% endwith %}
{% endfor %}
