{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}

{% block content %}

<div class="stylebg" style="--url: url('https://images.unsplash.com/photo-1584963237956-8059f4b3d0ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1900&q=80');"></div>
    <form method="POST">
        {% csrf_token %}
            <div class="container">

                <div class="row justify-content-md-center">
                    <div class="card col-lg-4"
                         style="width: 36rem; border-radius:5px; background-color: rgba(255, 255, 255, 0.6);">
                        <div class="card-body">
                            <h2>Good to see you</h2>
                            <p>Create apps, connect databases and add-on services, and collaborate on your apps, for free.
                               Don't have an account? <a href="{% url 'register' %}">Register</a></p>

                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="font-weight-bold">
                                        {{ form.username | as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="font-weight-bold">
                                        {{ form.password | as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-primary">Log In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}
