{% extends 'base/base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
    <h1>{{ currUser.username }}!</h1>
    
    {% if me %}
        <a href="/logout">Logout</a>
    {% endif %}
    
    <p>This is a desolate land.</p>

    <hr class="gradient">

    <h1>Your Artwork</h1>
    <section class="flex">
        {% include 'artwork/art_list.html' %}
    </section>
    
    <hr class="gradient">
    
    <h1>Enrolled Courses</h1>
    <section class="flex">
        {% include 'courses/course_list.html' %}
    </section>

{% endblock %}