{% extends 'base/base.html' %}

{% block title %} {{course.title}} {% endblock %}

{% block content %}
    <article>
        <section class="hero-image" style="--img: url('{{course.image}}')">
            <div class="content">
                <h1>{{course.title}}</h1>
                <span class="author">By: {{course.authors}}</span>
            </div>
        </section>

        <p class="description">{{course.description}}</p>
        
        {% include 'courses/lesson_list.html' %}
        

    </article>
{% endblock %}