{% if courses %}
    {% for course in courses %}

        <div class="item col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/courses/{{ course.slug }}" class="item-wrap">
                <img class="img-fluid" src="{{ course.image }}">
                <div>
                    <h4 class="text-uppercase font-weight-bold text-dark mb-0 mt-1">{{ course.title }}</h4>
                    <span class="text-dark">{{ course.description }}</span>
                    <br>
                    <span class="text-muted">{{ course.lessons.count }} lessons</span>
                </div>
            </a>
        </div>

    {% endfor %}
{% else %}
    <article>
        <h1>No courses right now</h1>
        <p>Please come back later!</p>
    </article>
{% endif %}
