{% extends 'base/base.html' %}

{% block title %} {{course.title}} {% endblock %}

{% block content %}
    <article>
        <section class="hero-image" style="--img: url('{{course.image}}')">
            <h1>{{course.title}}</h1>
            <span class="author">By: {{course.authors}}</span>
        </section>

        <p class="description" >{{course.description}}</p><br>

        {% if lessons %}
            <ul class="progress-list">
                {% for lesson in lessons %}
                    <li>
                        <a href="/courses/{{course.slug}}/{{lesson.slug}}" class="link"><h2>{{lesson.title}}</h2></a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>No lessons available now</h2>
        {% endif %}
    </article>
{% endblock %}