{% extends 'base/base.html' %}

{% block title %} {{course.title}} {% endblock %}

{% block content %}
    <article>
        <h1>{{course.title}}</h1>
        <span class="author">By: {{course.authors}}</span>
        <p>{{course.description}}</p>

        <hr>

        {% if lessons %}
            <ul>
                {% for lesson in lessons %}
                    <li>
                        <h2>{{lesson.title}}</h2>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>No lessons available now</h2>
        {% endif %}
    </article>
{% endblock %}