{% extends 'base/base.html' %}

{% block title %} {{lesson.title}} {% endblock %}

{% block content %}
    <article>
        <section class="hero-image" style="--img: url({{lesson.image}})">
            <div class="content">
                <h1>{{lesson.title}}</h1>
                <span>{{lesson.description}}</span><br>
                <span class="author">By: {{lesson.authors}}</span>
            </div>
        </section>

        <p class="description">{{lesson.content}}</p>

        {% with lessons=lesson.course.lessons.all %}
            {% include 'courses/lesson_list.html' %}
        {% endwith %}
    </article>
{% endblock %}