body {
    margin: 0; 
    padding: 0;
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    transition: none !important;

    --gradient: linear-gradient(45deg, rgba(9,3,103,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

main {
    width: 80vw;
    height: calc(100vh - 50px);
    margin: auto;
    margin-top: 50px;

}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;

    overflow: hidden;
    overflow-y: visible;

    width: 100%;
    position: sticky;
    top: 5px;
    background-color: #fff;

    z-index: 1;

    transition: .1s ease-in;
}

nav .brand h1 {
    height: 50px;
    line-height: 100%;

    margin-top: 14px;
    font-size: 32px;

    padding: 0;
    width: auto;
    justify-self: start;

    text-decoration: none;
}

nav .brand img {
    display: inline;
    float: left;

    margin-top: 12px;
    margin-left: 20px;
    margin-right: 10px;

    width: 35px;

    border-radius: 25%;

}

nav #hamburger, nav label[for="hamburger"] {
    display: none;
}

nav .menu {
    list-style: none;
    justify-self: center;
    
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-right: 40px;
    height: 500px;
    width: clamp(0px, 750px, 60vw);

    overflow-y: visible;
}
  
nav .menu li {
    display: block;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s ease-out;

    height: 50px;
    line-height: 50px;

    text-align: center;
}

nav .menu li a {
    color: black;
    text-decoration: none;
}

nav .menu li a:visited {
    color: black;
}

nav .menu li:hover {
    text-decoration: underline;
    color: #0FA0CE;
}

.card {
    width: clamp(250px, 50vw, 450px);
    height: 450px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    
    border: 1px solid black;
    border-radius: 10px;
    word-wrap: break-word;

    transition: 0.2s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.link {
    color: unset;
    text-decoration: none;

    height: 100%;
}

.card header {
    padding: 0;
    height: 300px;
}

.card header img {
    width: 100%;
    height: 300px;
    margin: 0;
    border-radius: 10px;

    object-fit: cover;
}

.card h1 {
    margin-bottom: 0px;
}

.link {
    color: unset;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 500px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--img);

  height: 25vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  text-align: center;
  color: rgba(255, 255, 255, 0.9);

  margin-bottom: 25px;

  font-size: 20px;
}

.hero-image .content {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-content {
    width: 100%;
    word-wrap: break-word;
}

.progress-list {
    counter-reset: step;
    
    width: clamp(20%, 20%, 100%);
    height: 100%;
    margin-bottom: 50px;
    
    display: block;
    float: left;
}

.progress-list li {
    list-style-type: none;
    width: 100%;
    position: relative;
}

.progress-list li:before {
    width: 30px;
    height: 30px;

    content: counter(step);
    counter-increment: step;
    
    line-height: 30px;
    display: block;
    text-align: center;
    
    margin-left: -15px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: 
        linear-gradient(white 0 0) padding-box, 
        linear-gradient(45deg, rgba(9,3,103,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) border-box;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

.progress-list li:after {
    width: 2px;
    height: 120%;
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    overflow-y: hidden;
    
    background: var(--gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.progress-list li a h2 {
    margin-left: 20px;
}

.progress-list li a p {
    margin-left: 20px;
}

.description {
    display: block;
    width: clamp(45vw, 75%, 100%);

    float: right;
    margin-right: 10px;
}

hr {
    width: 100%;
    height: 5px;
    margin: 25px;
    padding: 0;
    border: none;
}

hr#topbar {
    position: fixed; top: 0px; z-index: 2; margin: 0;
}

.gradient {
    background: var(--gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media (max-width: 425px) {
    .description, .progress-list {
        float: none;
        width: 100%;
    }

    .brand h1 {
        display: none;
    }

    nav .menu {
        display: none;
        height: 100vh;
    }

    nav .menu li {
        display: block;

        width: 100vw;
        height: 32px;
    }

    nav label[for="hamburger"] {
        display: block;
        position: absolute;
        right: 10px;


        height: 16px;
        width: 16px;
    } 

    nav #hamburger:checked {
        display: none;
    }

    nav #hamburger:checked ~ label[for="hamburger"] {
        content: "X";
    }

    nav #hamburger:checked ~ .menu {
        display: block;
    }    
}