body {
    margin: 0; 
    padding: 0;
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    transition: none !important;
}

main {
    width: 80vw;
    height: calc(100vh - 50px);
    margin: auto;
    margin-top: 50px;

}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;

    width: 100%;
    position: sticky;
    top: 5;
    background-color: #fff;
}

nav .brand h1 {
    height: 50px;
    line-height: 100%;

    padding: 0;
    width: auto;
    justify-self: start;

    text-decoration: none;
}

nav .brand img {
    display: inline;
    float: left;

    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;

    width: 35px;

    border-radius: 25%;

}
  
nav .menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    
}

nav .menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 40px;
    height: 500px;
    width: clamp(0px, 50vw, 350px);
}
  
nav .menu li {
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s ease-out;

    height: 50px;
    line-height: 50px;

    text-align: center;
}
  
nav .menu li:hover {
    text-decoration: underline;
}

nav .menu li a {
    color: black;
    text-decoration: none;
}

nav .menu li a:visited {
    color: black;
}

.card {
    width: clamp(250px, 50vw, 450px);
    height: 450px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    
    border: 1px solid black;
    border-radius: 10px;
    word-wrap: break-word;

    transition: 0.2s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.link {
    color: unset;
    text-decoration: none;

    height: 100%;
}

.card header {
    padding: 0;
    height: 300px;
}

.card header img {
    width: clamp(200px, 50vw, 450px);
    height: 300px;

    margin: 0;

    border-radius: 10px;
}

.link {
    color: unset;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 500px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--img);

  height: 25vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  text-align: center;
  color: rgba(255, 255, 255, 0.9);

  font-size: 1.5em;
}

.hero-image h1 {
    padding: 2%;
    padding-bottom: 5px;

    font-size: 2em;
}

.progress-list {
    counter-reset: step;
    width: 75%;
    height: 100%;
    float: right;
}
.progress-list li {
    list-style-type: none;
    width: 100%;
    position: relative;
}

.progress-list li:before {
    width: 30px;
    height: 30px;

    content: counter(step);
    counter-increment: step;
    
    line-height: 30px;
    border: 2px solid;
    display: block;
    text-align: center;
    
    margin-left: -15px;
    border-radius: 50%;
    background-color: white;
}
.progress-list li:after {
    width: 2px;
    height: 200%;
    content: '';
    position: absolute;
    top: -100%;
    z-index: -1;
    background-color: black;
}

.progress-list li:first-child:after {
    content: none;
}

.progress-list li a h2 {
    margin-left: 20px;
}

.description {
    float: left;
    width: 20%;
}

.grad-bar {
    width: 100%;
    height: 5px;
    margin: 0;
    padding: 0;
    border: none;
    background: linear-gradient(45deg, rgba(9,3,103,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: 400% 400%;
    animation: gradbar 15s ease infinite;
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}